.services-card {
  position: relative;
  min-height: 480px;
  display: grid;
  grid-template-rows: 1fr auto;
  transition: .3s;
  overflow: hidden;

  padding: 60px 60px 30px;

  .bg-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: .3s;
  }
  h2 {
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__content {
    position: relative;
    z-index: 1;
  }
  .link {
    position: relative;
    z-index: 1;
    width: max-content;
    margin-left: auto;
  }
  &:hover .bg-img {
    height: 110%;
    width: 100%;
  }
  &.disabled {
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &::before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      content: 'NOT AVAILABLE';
      background-color: rgba(0, 0, 0, .3);
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      transition: .3s;
      opacity: 0;
    }
    &:hover::before {
      opacity: 1;
    }
    .link {
      pointer-events: none;
    }
  }

  @media (min-width: 1200px) and (max-width: 1440px) {
    padding: 20px;
  }
  @media (max-width: 1200px) {
    min-height: 600px;
  }
  @media (max-width: 1000px) {
    min-height: 500px;
  }
  @media (max-width: 768px) {
    min-height: 384px;
  }
  @media (max-width: 480px) {
    min-height: 480px;
  }
  @media (max-width: 360px) {
    min-height: 360px;
  }
}

.section-subtitle {
  display: flex;
  gap: 10px;
  justify-content: left;

  h3 {
    font-size: 96px;
    color: $orange;
    font-weight: 400;
    line-height: 90px;

    @media (max-width: 1000px) {
      font-size: 72px;
      line-height: 68px;
    }
    @media (max-width: 480px) {
      font-size: 54px;
      line-height: 50px;
    }
  }
  p {
    font-weight: 700;
    font-size: 36px;

    @media (max-width: 768px) {
      font-size: 30px;
    }
    @media (max-width: 480px) {
      font-size: 24px;
    }
  }

  @media (max-width: 1000px) and (min-width: 769px) {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
  @media (max-width: 768px) {
    padding-top: 20px;
  }
  @media (max-width: 480px) {
    padding-top: 10px;
  }
}

.modal {
  position: fixed;
  padding: 60px;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s;

  &.active {
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }

  @media (max-width: 1000px) {
    padding: 40px;
  }

}

.form {
  display: grid;
  grid-gap: 10px;

  h3 {
    padding-bottom: 20px;
  }
  &-input {
    border: 1px solid $black;
    position: relative;

    &.error {
      border-color: #dc0606;
    }
    .icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
    label {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      transition: .3s;
      color: $grey-dark;
      font-size: 10px;

      &.active {
        top: 5px;
        transform: translateY(0);
      }
    }
    input {
      font-size: 14px;
      border: none;
      padding: 18px 20px 10px;
      outline: none;
      width: 100%;
    }
    input:focus + label {
      top: 5px;
      transform: translateY(0);
    }
  }
  .btn-orange {
    width: 100%;
    font-size: 20px;
  }
}

.input-form {
  border: 1px solid $black;
  width: 100%;
  max-width: 416px;
  padding: 13px 8px;
  font-size: 20px;
  outline: $grey-dark;

  &:disabled {
    background-color: #D7D7D7;
    color: $grey-dark;
  }
  &.with-label {
    padding: 28px 15px 8px 8px;
    cursor: pointer;
    position: relative;

    svg {
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      fill: $grey-dark;
      right: 5px;
      position: absolute;
      transition: .3s;

      &.opened {
        transform: translateY(-35%) rotate(180deg);
        fill: $orange;
      }
    }
    label {
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }
}
.textarea-form {
  resize: none;
  width: 100%;
  border: none;
  background-color: #F3F3F3;
  outline: none;
  padding: 8px;
  font-size: 20px;
  min-height: 300px;
}

.hint-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.block-scroll {
  &::-webkit-scrollbar {
    width: 1px;
  }
  &::-webkit-scrollbar-track {
    background: var(--col-middle);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--col-light);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--col-middle);
  }
}

.header__hint {
  display: flex;
  position: fixed;
  right: 20px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: 0;

  &.active {
    opacity: 1;
    visibility: visible;
    top: 57px;
  }
  .btn-burger {
    position: static;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      background-color: $white;
      width: 20px;

      &::before, &::after {
        background-color: $white;
      }
    }
    .circle {
      display: none;
    }
    @media (min-width: 769px) {
      display: none;
    }
  }
  button, a {
    font-size: 14px;
    font-weight: 700;
  }

  @media (max-width: 480px) {
    right: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;

    > .txt-highlight {
      display: none;
    }
  }
}

.btn-burger {
  position: fixed;
  top: 8px;
  right: 13px;
  width: 40px;
  padding-left: 1px;
  height: 40px;
  cursor: pointer;
  z-index: 4;

  span {
    position: relative;
    display: block;
    width: 30px;
    right: 0;
    height: 2px;
    background: #000;
    transition: all .2s ease-in-out;

    &::before, &::after {
      position: absolute;
      background: #000;
      content: '';
      right: 0;
      width: 20px;
      height: 2px;
      transition: all .2s ease-in-out;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }

  .circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    stroke: #000000;
    stroke-width: 6px;
    stroke-dasharray: 550;
    stroke-dashoffset: -550;
    transition: .3s ease-in-out;
  }

  &.active {
    span {
      background: transparent;

      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }

      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }

    .circle {
      stroke-dashoffset: 0;
    }
  }

  @media (min-width: 769px) {
    display: none;
  }
}

.checkbox-label {
  width: max-content;
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    //position: absolute;
    //visibility: hidden;
    //opacity: 0;
    //pointer-events: none;

    //&:checked + label::before {
    //  content: '';
    //  background-color: #0077B2;
    //}
  }
  label {
    padding-left: 10px;
    font-size: 14px;
    //position: relative;
    //
    //&::before {
    //  content: '';
    //  width: 10px;
    //  height: 10px;
    //  border: 1px solid $black;
    //  position: absolute;
    //  top: 50%;
    //  transform: translateY(-50%);
    //  left: 0;
    //}
  }
}

.profile-list {
  display: grid;
  border-top: 1px solid $black;
  border-left: 1px solid $black;
  grid-template-columns: 1fr 1fr;
}
