.services-card {
  position: relative;
  min-height: 480px;
  display: grid;
  grid-template-rows: 1fr auto;
  transition: .3s;
  overflow: hidden;

  padding: 60px 60px 30px;

  .bg-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: .3s;
  }
  h2 {
    padding-bottom: 10px;
  }
  &__content {
    position: relative;
    z-index: 1;
  }
  .link {
    position: relative;
    z-index: 1;
    width: max-content;
    margin-left: auto;
  }
  &:hover .bg-img {
    height: 110%;
    width: 100%;
  }
  &.disabled {
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &::before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      content: 'NOT AVAILABLE';
      background-color: rgba(0, 0, 0, .3);
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      transition: .3s;
      opacity: 0;
    }
    &:hover::before {
      opacity: 1;
    }
    .link {
      pointer-events: none;
    }
  }

  @media (min-width: 1200px) and (max-width: 1440px) {
    padding: 20px;
  }
}

.section-subtitle {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;

  h3 {
    font-size: 96px;
    color: $orange;
    font-weight: 400;
  }
  p {
    font-weight: 700;
    font-size: 36px;
  }

  @media (max-width: 1000px) and (min-width: 769px) {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s;

  &.active {
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }
}

.hint-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.block-scroll {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
