@import 'fonts';
@import 'text';
@import 'blocks';
@import "buttons";

// Base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PT Root UI, serif;
}

body {
  font-family: 'PT Root UI', serif;
}

#app {
  padding-top: 36px;
}

.logo {
  font-weight: 700;
  text-transform: uppercase;

  span {
    font-weight: 400;
  }
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: $black;
}

a {
  text-decoration: none;
  color: inherit;
}

.input-search {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $black;
  width: 100%;
  padding: 5px 25px 5px 5px;
  outline: none;

  &:focus {
    border-bottom-color: $orange;
  }
}
.simple-range-slider-popover, .simple-range-slider-popover-arrow {
  display: none;
}

// Div
.menu-active {
  overflow: hidden;
}

.alert {
  padding: 60px;
  position: absolute;
  border: 1px solid $black;
  background: $white;
  transition: .3s;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);


  &.hidden {
    right: -100%;
  }

  @media (max-width: 1000px) {
    padding: 30px;
  }
  @media (max-width: 480px) {
    padding: 20px;
  }
}
.alert-close {
  position: absolute;
  top: 20px;
  right: 20px;

  svg {
    transition: .3s;
    border-radius: 50%;

    path {
      transition: .3s;
    }

    &:hover {
      background: $orange;

      path {
        stroke: $white;

        &:first-child {
          stroke: $orange;
        }
      }
    }
  }
}

.scan {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 30px;
  @include pad();

  img {
    width: 100px;
  }

  p.bold {
    padding-bottom: 10px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.tab {
  &-leave-to {
    display: none;
  }

  &-enter-from {
    transform: translateX(-50px);
    opacity: 0;
  }

  &-leave-active,
  &-enter-active {
    transition: .5s;
  }
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.d-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.bg-orange {
  background-color: $orange;
}

.text-block {
  text-align: center;
  padding: 60px;

  @media (max-width: 768px) {
    padding: 30px;
  }
}
.link-block {
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  padding: 30px;
  text-align: center;
}

.tablet {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.min-tablet {
  @media (max-width: 768px) {
    display: none;
  }
}

.phone {
  display: none;

  @media (max-width: 480px) {
    display: block;
  }
}

.min-phone {
  @media (max-width: 480px) {
    display: none;
  }
}

.pagination {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;

  button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $grey;
    transition: .3s;

    &.active {
      background: $black;
    }
    &.bg-orange {
      background-color: $orange;
    }
  }
}

.scrollToTop {
  position: fixed;
  bottom: 30px;
  background: #000;
  visibility: hidden;
  opacity: 0;
  right: -100%;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;

  &.active {
    visibility: visible;
    opacity: 1;
    right: 30px;
  }
}

.product-author {
  width: max-content;
  display: grid;
  grid-template-columns: 60px auto auto;
  align-items: center;
  gap: 20px;

  img {
    width: 100%;
  }

  p {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
  }

  button {
    border-radius: 20px;
    background: #BFD824;
    padding: 10px;
  }
}

.product-icons {
  display: flex;
  color: #fff;
  gap: 10px;

  .product-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  p {
    font-size: 14px;
    font-weight: 700;
  }
}

.promoted {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  font-size: 14px;
  background: $black;
  color: $white;

  &.active {
    display: block;
  }

  @media (max-width: 1200px) {
    font-size: 12px;
  }
}

.recommended {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 14px;
  background: $orange;

  &.active {
    display: block;
  }

  @media (max-width: 1200px) {
    font-size: 12px;
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  border-top: 1px solid $black;
  border-left: 1px solid $black;

  .product-card {
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;

    img {
      margin: 10px 0;
      max-height: 200px;
      max-width: 100%;
      width: auto;

      @media (max-width: 1200px) {
        max-height: 170px;
      }
      @media (max-width: 1000px) {
        max-height: 300px;
      }
    }

    .rates {
      padding-bottom: 10px;
    }

    @media (max-width: 768px) {
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      border-right: 1px solid $black;
    }
    @media (max-width: 500px) {
      border-right: none;
      border-bottom: none;
    }
  }
  .product-item {
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;
    display: grid;
    align-content: space-between;
    padding: 20px;

    &.center {
      align-content: center;
      justify-content: center;
    }

    @media (max-width: 768px) {
      border: none;
      grid-column: 1 / 3;
      justify-content: left;
      gap: 20px;
    }

    @media (max-width: 500px) {
      border: none;
      grid-column: 1;
      gap: 20px;
    }
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 20px;
    border: none;
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.routines__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid $black;
  grid-gap: 60px 20px;
  padding: 60px;

  .routine-item {
    display: grid;
    align-content: space-between;
    padding: 60px;

    &.center {
      align-content: center;
      text-align: center;
      justify-content: center;
      height: calc(100% - 86px);
    }
    @media screen and (max-width: 1440px) {
      padding: 20px;

      img {
        height: 80px;
      }
    }
    @media (max-width: 768px) {
      grid-column: 1 / 3;
      height: auto;

      &.min-tablet {
        display: none;
      }
    }
    @media (max-width: 480px) {
      grid-column: 1;
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 60px 20px;
  }
  @media screen and (max-width: 1000px) {
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  @media screen and (max-width: 768px) {
    padding: 20px;
    gap: 20px;

    .routine-card:nth-child(7) {
      display: none;
    }
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.btn {
  font-weight: 700;
  padding: 16px 60px;
  text-transform: uppercase;
  font-size: 36px;
  transition: .3s;

  &:hover {
    color: $orange;
  }

  &.btn-orange {
    background: $orange;

    &:hover {
      color: $white;
    }
  }

  @media (max-width: 1000px) {
    font-size: 24px;
    padding: 14px 40px;
  }
  @media (max-width: 480px) {
    padding: 14px 30px;
    font-size: 16px;
  }
}

.btn-tag {
  position: relative;
  transition: .3s;

  button {
    padding: 10px;
    padding-right: 30px;
    width: 100%;
    color: $grey-dark;
    text-align: left;
    transition: .3s;
  }

  svg {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    button {
      color: $orange
    }
  }
  &.active {
    background: $orange;

    button {
      color: $black;
      cursor: auto;
    }

    svg {
      opacity: 1;
      cursor: pointer;
      right: 10px;
    }
  }
}
