@import './fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'PT Root UI', serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.logo {
  font-weight: 700;
  text-transform: uppercase;

  span {
    font-weight: 400;
  }
}
.number {
  &-small {
    color: $black;
    font-family: 'PT Root UI', serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;

    @media (max-width: 1540px) {
      font-size: 42px;
    }
  }
  &-medium {
    color: $black;
    font-family: 'PT Root UI', serif;
    font-size: 150px;
    font-style: normal;
    font-weight: 700;

    @media (max-width: 1540px) {
      font-size: 120px;
    }
  }
  &-large {
    color: $black;
    font-family: 'PT Root UI', serif;
    font-size: 250px;
    font-style: normal;
    font-weight: 700;

    @media (max-width: 1540px) {
      font-size: 180px;
    }
  }
}
.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
