@import './fonts';

// Base
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'PT Root UI', serif;
}
#app {
  padding-top: 62px;
}
.logo {
  font-weight: 700;
  text-transform: uppercase;

  span {
    font-weight: 400;
  }
}
.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}

// Div
.menu-active {
  overflow: hidden;
}
.scan {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 30px;
  @include pad();

  img {
    width: 100px;
  }
  p.bold {
    padding-bottom: 10px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.tab {
  &-leave-to {
    display: none;
  }
  &-enter-from  {
    transform: translateX(-50px);
    opacity: 0;
  }
  &-leave-active,
  &-enter-active {
    transition: .5s;
  }
}
.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-orange {
  background-color: $orange;
}
.tablet {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
.min-tablet {
  @media (max-width: 768px) {
    display: none;
  }
}
.phone {
  display: none;

  @media (max-width: 480px) {
    display: block;
  }
}
.min-phone {
  @media (max-width: 480px) {
    display: none;
  }
}
.pagination {
  padding-top: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $grey;
    transition: .3s;

    &.active {
      background: $black;
    }
  }
  @media (max-width: 768px) {
    display: flex;
  }
}
.scrollToTop {
  position: fixed;
  bottom: 30px;
  background: #000;
  visibility: hidden;
  opacity: 0;
  right: -100%;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;

  &.active {
    visibility: visible;
    opacity: 1;
    right: 30px;
  }
}

// Text
.title {
  font-size: 46px;
  font-weight: 700;

  @media (max-width: 1540px) {
    font-size: 40px;
  }
  @media (max-width: 1140px) {
    font-size: 36px;
  }
  @media (max-width: 1000px) {
    font-size: 30px;
  }
}
.title-secondary {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 44px;

  @media (max-width: 1000px) {
    line-height: 30px;
    font-size: 18px;
  }
}
.link {
  font-family: 'PT Root UI', serif;
  font-size: 36px;
  font-style: normal;
  text-transform: uppercase;

  &:hover {
    span {
      right: -20px;
    }
  }
  span {
    transition: .3s;
    position: relative;
    right: 0;
  }
  &.tablet-orange {
    @media (max-width: 768px) {
      padding: 20px;
      width: 100%;
      background: $orange;
      text-align: left;
    }
  }
  @media (max-width: 1541px) {
    font-size: 30px;
  }
  @media (max-width: 1340px) {
    font-size: 24px;
  }
  @media (max-width: 480px) {
    font-size: 18px;
  }
}
.txt {
  font-size: 20px;

  @media (max-width: 1540px) {
    font-size: 16px;
  }
}
.txt-highlight {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 1540px) {
    font-size: 16px;
  }
}
.t-up {
  text-transform: uppercase;
}
.text {
  font-size: 24px;

  @media (max-width: 1540px) {
    font-size: 20px;
  }
}
.highlight {
  color: $black;
  font-family: 'PT Root UI', serif;
  font-size: 250px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 1340px) {
    font-size: 150px;
  }
  @media (max-width: 1000px) {
    font-size: 96px;
  }
  @media (max-width: 768px) {
    font-size: 200px;
  }
  @media (max-width: 480px) {
    font-size: 150px;
  }
}
.orange {
  color: $orange;
}
.bold {
  font-weight: 700;
}
.text {
  &-large {
    color: $black;
    font-family: 'PT Root UI', serif;
    font-size: 250px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 1540px) {
      font-size: 180px;
    }
  }
}
